.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}
.yellow-text {
    color: yellowgreen;
}

.red {
    background: lightcoral;
}

.yellow {
    background: yellow;
}

.red-text {
    color: aqua;
}

.lightgreen {
    background: lightgreen;
}

.lightgreen-text {
    color: darkslateblue;
}