.message {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.avatarBlock img{
    width: 40px;
    border-radius: 30px;

}

.messageBlock{
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
}

.name{
    color: purple;
}

.messageAndTime{
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: flex-end;
}

.time{
    margin-left: 10px;
    font-size: 12px;
}